@import "tailwindcss";
@import "@nuxt/ui";

/* @theme static {
  --ui-primary: #1e80ff;
  --ui-secondary:#4acbff;
} */
  :root {
    /* --ui-bg:#fafafa */
    /* --ui-primary: #1e80ff */
    /* --ui-container: 80rem */
  }